[project]
	description = Ceph is a distributed object, block, and file storage platform 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Orit Wasserman (oritwas)
[access "refs/for/refs/*"]
	read = group user/Orit Wasserman (oritwas)
	push = group user/Orit Wasserman (oritwas)
	label-Code-Review = -2..+2 group user/Orit Wasserman (oritwas)
	label-Verified = -1..+1 group user/Orit Wasserman (oritwas)
	rebase = group user/Orit Wasserman (oritwas)
	removeReviewer = group user/Orit Wasserman (oritwas)
	submit = group user/Orit Wasserman (oritwas)
[access "refs/heads/*"]
	read = group user/Orit Wasserman (oritwas)
	create = group user/Orit Wasserman (oritwas)
	push = +force group user/Orit Wasserman (oritwas)
	pushMerge = group user/Orit Wasserman (oritwas)
[access "refs/tags/*"]
	push = +force group user/Orit Wasserman (oritwas)
	pushTag = group user/Orit Wasserman (oritwas)
	pushSignedTag = group user/Orit Wasserman (oritwas)
